<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" ng-app="dashboard">
<head>
    <link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.css">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="webjars/angularjs/angular.js"></script>
    <script src="webjars/angularjs/angular-resource.js"></script>
    <script src="webjars/angularjs/angular-animate.js"></script>
    <script src="webjars/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/components/land-dd.component.js}"></script>
    <script th:src="@{/js/components/adresse-form.component.js}"></script>
    <script th:src="@{/js/components/vn-select.component.js}"></script>
</head>

<body ng-controller="dashboardController">
    <h1>Smarter umziehen</h1>
    <vn-select vns="getVNS()"></vn-select>
    <adresse-form on-create="createAdresse(adresse)" adresse="adresse"></adresse-form>
</body>